body {
    width: 100vw;
    height: 100vh;
    text-align: center;
}

.container {
    width: 100%;
    height: 100%;
    color: #E4FAFF;
    background-color: #5D99DC;
}

.or-span {
    padding: 0.5% 1% 0 1%;
}

.jumbotron {
    height: 80vh;
}